html, body {
  max-width: 100%;
  overflow-x: hidden;
}

table {
  border: 1px solid black;
  margin-top: 20px;
}

th {
  padding: 10px;
  border: 1px solid black;
}

td {
  width: 150px;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
}

.button {
  text-transform: uppercase;
  padding: 5px;
  margin: 5px;
  background-color: aqua;
  border-radius: 5px;
  border: 1px solid gainsboro;
  cursor: pointer;
}